@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



nav a:hover{
    color: rgb(185, 185, 185);
}

footer a:hover{
    color: rgb(185, 185, 185);
}

footer i:hover{
    transform: translateY(-0.4rem);
}

.btn:hover{
    background:  #184b4a;
}

.collection-index{
    .col:hover{
        img{
        scale: 1.2;
        }
        h3,p{
            transform: translateY(2rem);
        }
    
    }
}

.why-index{
    .col{
        position: relative;
    }
    .col:hover{
        transform: translateY(12rem) !important;
        z-index: 2;
        border: 1px solid white;
        border-top: 10px solid white;
        img{
            transform: translateY(-2rem);
        }
        h3,p{
            transform: translateY(-4rem);
        }
    }
}

.question-plan .heading{
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.question-plan .heading::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: $main1;
    position: absolute;
    z-index: -1;
    transform: translateY(104%);
}
.question-plan .heading:hover{
    color: $txt2;
    i{
    color: $txt2;
    }
}

.question-plan .heading:hover::after{
    transform: translateY(0%);
}

.question-plan{
    .card:hover{
        background: #32807e !important;
        h4,p{
        color: $txt2 !important;
        }
    }
}

.accordion-row .row{
    cursor: pointer;
}

.accordion-row .row:hover{
    color: #32807e !important;
}

.accordion-row .row:hover::after{
    background: #32807e !important;
    height: 0.4rem !important;
}