

// FONT SIZES YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY


$header1: 7.2rem; 
$header2: 3.6rem;
$header3: 1.4rem; 
$header4: 1.2rem;
$header5: 1.1rem;
$header6: 1.1rem;
$text: 1.6rem;

$logo: 2.2rem;

$mainButton : 1.6rem;



// COLOR  YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

// BLACK AND WHTIE

$black:black;
$white:white;

// PRIMARY

$main1: #E5484D;
$main2: #111111;
$main3: #191919;
 
$element: #191919; 
$element2: #191919; 

$border: #191919;

$text2: #191919;
$text3: #191919;



//TEXT

$txt1: rgb(238, 238, 238);
$txt2: rgb(255, 149, 146);














