

// FONT SIZES YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY


$header1: clamp(4.2rem,6vw,7.2rem); 
$header2: clamp(2.6rem,3vw,3.6rem);
$header3: 2.4rem; 
$header4: 2rem;
$header5: 1.1rem;
$header6: 1.1rem;
$text: 1.6rem;

$logo: 2.2rem;

$mainButton : 1.6rem;



// COLOR  YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

// BLACK AND WHTIE

$black:black;
$white:white;

// PRIMARY

$main1: #0E8784;
$main2: #FEFCF7;
$main3: #FEFCF7;
$main4: #FDD6BA;

$grey: #83888f;
 
$element: #2C343E; 
$element2: #2C343E; 
$element3: #F4F1EB; 

$border: #191919;


//TEXT

$txt1: #2C343E;
$txt2: #FEFCF7;
$txt3: #83888f;
$txt4: #FDD6BA;














