@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


.hero-index{
    padding: 2rem 2rem;
    .container{
        border-radius: 1.2rem;
        padding: 4rem;
        background-image: url('/public/images/home/desktop/image-hero-coffeepress.jpg');
        height: 60rem;
        @include background;
        @include flex(column,center,flex-start,2rem);
        h1{
        max-width:  80rem;
        color: $txt2 ;
        font-weight: 800;
        }
        p{
            color: $txt3 ;
            max-width: 40rem;
        }
    }
}


.collection-index{
    padding: 14rem 0rem;
    .big{
        position: absolute;
        color: transparent;
        background-image: linear-gradient(to bottom,#777777,#FDFCF7);
        background-clip: text;
        left: 50%;
        top: -40rem;
        z-index: -1;
        transform: translateX(-50%);

    }
    .row{
        display: flex;
        position: relative;
        gap: 2rem;
        .col{
            text-align: center;
            h3{
                margin: 2rem 0rem;
                font-weight: 600;
            }
        }
    }
}

.why-index{
    padding: 0rem 2rem;
    .container{
    border-radius: 0.6rem;
    background: $element;
    padding: 4rem ;
    }
    h2,p,h3{
    color: $txt2;
    }
    h2{
        font-weight: 600;
    }
    h3{
        font-weight: 600;
    }
    .row:first-of-type{
        padding-top: 4rem ;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        p{
            max-width: 40rem;
            margin: auto;
        }
    }
    .row:last-of-type{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        .col{
            transform: translateY(10rem);
            p{
                max-width: 34rem;
            }
            height: 36rem;
            border-radius: 0.6rem;
            background: $main1;
            @include flex(column,center,center,3rem);
            padding: 2rem;
            text-align: center;
            img{
                height: 4rem;
                width: 4rem;
                scale: 1.2;
                object-fit: contain;
            }
        }
        .col:last-of-type{
            img{
                scale: 1.4;
            }
        }
    }
}

.how-index{
    h1{
        color: $main4;
        font-weight: bold;
    }
    h4{
        color: $txt3;
    }
    padding: 14rem 8rem;
    .container{
        .row:nth-of-type(2){
            display: flex;
            justify-content: space-between;
            .col{
                h1{
                    margin-top: 14rem;
                    height: fit-content;
                    color: $txt4;
                }
                h2{
                    font-weight: 600;
                    max-width: 20rem;
                }
                @include flex(column,center,flex-start,2rem);
                p{
                    max-width: 30rem;
                }
            }
            .col:last-of-type{
                h1::after{
                    display: none;
                }
            }
        }
        .lines{
            margin-top: 6rem;
            display: flex;
            justify-content: space-between;
            .col{
                min-width: calc(33.3% + 0.6rem);
                display: flex;
                align-items: center;
                flex-direction: row;
            }
            .line{
                display: block;
                height: 0.3rem;
                width: 100%;
                background: $main4;
            }
            .circle{
                border-radius: 20rem;
                width: 3rem;
                height:3rem ;
                border: 1px solid $main1;
            }
            .circle.active{
                background: $main1;
            }
        }
        .steps-row{
            margin-bottom: 6rem;
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            .col{
                width: calc(33.3%);
                @include flex;
            }
        }
        .row:nth-of-type(3){
            margin-top: 6rem;
        }
    }
}